<div class="comments card">
  <div class="card-header">Comments</div>
  <div class="card-body">
  {{#each this}}
    <p class="mb-3">{{comment_text}}</p>
    <p class="mb-3">Posted by  {{user.username}} on {{format_date created_at}}</p>
  {{/each}}
  </div>
</div>