{{> post-info post }}

{{#if post.comments.length}}
  {{> comments post.comments}}
{{/if}}

{{#if loggedIn}}
  <form id="comment-form" class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <label for="comment-body">Comment</label>
      <textarea name="comment-body" class="w-100 p-3" rows="10"></textarea>
      <button type="submit" class="btn btn-secondary">Done</button>
    </div>
  </form>
{{/if}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}